@import "variables";

.features {
  .features-title {
    width: 50%;
    margin: 80px auto 0;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 38px;
    text-align: center;
    font-family: 'Vidaloka', serif;
  }

  .features-description {
    margin-top: 45px;
    font-size: 14px;
    letter-spacing: 8px;
    color: $text-color-light;
    text-transform: uppercase;
    text-align: center;
  }

  .features-list {
    display: flex;
    margin: 50px -15px 0;
  }

  .features-list__item {
    padding: 0 15px;
  }

  .features-article {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 35px rgba(39,51,110,0.1);
  }

  .features-article__title {
    font-size: 24px;
    line-height: 36px;
    color: $text-color-light-blue;
    font-weight: bold;
  }

  .features-article__description {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    color: $text-color-gray;
  }
}