@import "variables";

.footer {
  background-color: $background-color-bottom;
  padding: 60px 0;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer-copyright {
    font-size: 16px;
    line-height: 22px;
    color: $text-color-blue;
  }

  .footer-socials {
    display: flex;
    flex-direction: row;

    .footer-socials__item {
      padding-left: 30px;
    }

    .footer-socials__link {
      color: white;
    }
  }
}