@import "variables";

.header {
  background-color: $background-color-top;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-left,
  .header-right {
    width: 50%;
  }

  .logo {
    font-size: 24px;
    color: $text-color-blue;
    font-weight: bold;

    a {
      text-decoration: none;
      color: $text-color-blue;
    }

    i {
      color: $text-color-light-blue;
    }
  }

  .menu {
    ul {
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat', sans-serif;
    }

    li {
      position: relative;
    }

    a {
      display: block;
      color: $text-color-dark-blue;
      text-decoration: none;
      padding-bottom: 5px;

      &:hover {
        color: $text-color-light-blue;

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          background-color: #648cff;
          padding: 0;
          height: 1px;
          width: 100%;
        }
      }
    }
  }
}