$background-color-top: #E6EEfC;
$background-color-bottom: #353854;

$text-color-light: #AFC3FC;
$text-color-light-blue: #648CFF;
$text-color-blue: #565B87;
$text-color-dark-blue: #3F4152;
$text-color-light-gray: #868891;
$text-color-gray: #5B5D6A;

$button-border-color: #64FFFD;

$input-border-color-active: #8BA7FF;
$input-border-color: #D5D6DC;